*{
    margin: 0px;
}
.flex{
    display: flex;
}
.sec1{
    
    height: 800px;
    border-radius: 0px 0px 750px 750px;
    background-color: #dde5f8;
}
.div1{
    background-color: #3A0CA3;
    color: white;
    justify-content: space-between;
    padding: 15px 60px;
}
.div2{
    gap: 10px;
}
.div3{
    background-color: rgb(255,255,255);
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
}
.div3 li{
    list-style: none;
    margin-left: 30px;
    align-items: center;
}
.li1{
    background-color: rgba(67, 97, 238, 0.30);
    padding: 15px 30px;
    border-radius: 30px;

}
.div5{
    height: 200px;
    border-radius: 0px 0px 100px 100px;
    background-color: #e4eaf7;
}